outputs/
datasets/
weights/
__pycache__/
train_hw/
train_hw1/
valid_hw/

ar/
cn/
hi/
ja/
ko/
th/

test/

IMG20230412205548.jpg
IMG20230416214011.jpg
IMG20230418170013.jpg
mix_data.ipynb
workspace
datasets.zip