pyyaml 
tensorboardX 
anyconfig 
munch
scipy
sortedcontainers 
gevent
gdown
prefetch_generator
opencv-python
pillow
matplotlib
pyclipper
shapely
lmdb
tqdm
gevent-websocket 
flask 
editdistance 
scikit-image 
imgaug
numpy